<h1>
    Menu
</h1>

@using EatZilla.Models.CoreClasses
@model List<Dish>
<div class="container">
    <div class="col-12 text-end">
        <a href="/Dish/Add">
            <button class="btn btn-secondary">AddDish</button>


        </a> 

    </div>
<table class="table table-bordered table-striped">
    <thead>
    <th>
        Id
    </th>
    <th>
        Item
    </th>
    <th>
        Price
    </th>
   
    </thead>
    <tbody>
        @foreach (var o in Model)
        {
            <tr>
                <td>
                    @o.DishId
                </td>
                <td>
                    @o.Name
                </td>
                <td>
                    @o.price
                </td>




            </tr>

        }
    </tbody>



</table>

</div>